<p>
    <strong>Title:</strong>
    <%= @article.title %>
</p>

<p>
    <strong>Text:</strong>
    <%= @article.text %>
</p>

<table>
    <tr>
        <th>Commenter</th>
        <th>Body</th>
        <th></th>
    </tr>

    <%= render @article.comments %>
</table>


<%# create a create-comment section here 
  scope: article_comment
  url: What is the best url for "create (POST)"? POST /articles/:id/comments
  label commenter
  text_filed commenter
  label comment body
  text_area comment body
  submit button
%>

<h2> Add a comment </h2>
<%= render 'comments/form'%>

<%= link_to  "Edit Article", edit_article_path(id:@article.id) %><br>
<%= link_to  "Back", articles_path %>